  <div class="l-nav">
    <div class="l-nav--logo">
      <a href="#ARKENEA">ARKENEA</a>
    </div>
    <div class="l-nav--select_mobile--menu">
      <h1 class="menu">MENU</h1>
    </div>

    <div class="l-nav--select ">

      <div class="l-nav--select-link">
        <a href="#PORTFOLIO">PORTFOLIO </a>
      </div>
      <div class="l-nav--select-link">
        <a href="#ABOUT">ABOUT </a>
      </div>
      <div class="l-nav--select-link">
        <a href="#PRICING">PRICING </a>
      </div>
      <div class="l-nav--select-link">
        <a href="#CAREERS">CAREERS </a>
      </div>
      <div class="l-nav--select-link">
        <a href="#BLOG">BLOG </a>
      </div>
      <div class="l-nav--select-link">
        <a href="#GET_A_QUOTE">GET A QUOTE </a>
      </div>
    </div>
  </div>
