<main class="l-page--main">
  <div class="l-page--main--box">
    <h1>TECHNICAL COFOUNDERS
      TO YOUR MOBILE &
      WEV STARTUP
    </h1>
    <p>To build a successful app, you need a masrt
      product strategy, engaging UX, killer designs,
      and a talented mobile development team.
    </p>
    <p>GOOD NEWS - You've come to the right plce.</p>
    <form action="" class="l-page--main--form">
      <input type="email" class="form-email" placeholder="Your Email Address">
      <input type="submit" value="Request a Quote">
    </form>
  </div>
</main>
