<section class="l-stories">
  <div class="l-stories--header">
    <h1>OUR SUCCES STORIES</h1>
    <hr />
  </div>
  <article class="l-stories--article">
    <img src="../../content/column_image_1.png">
    <p>Sleep Easily downloaded over 400,000 times – generating consistent revenues.</p>
    <span>Continue reading...</span>
  </article>
  <article class="l-stories--article">
    <img src="../../content/column_image_2.png">
    <p>Canvsly featured on TechCrunch and winner of the Kiip Build Fund 2013 and Mom’s Choice Awards.</p>
    <span>Continue reading...</span>
  </article>
  <article class="l-stories--article">
    <img src="../../content/column_image_3.png">
    <p>Glenn Harrold, celebrity hypnotherapist, crosses 2 million downloads for his apps.</p>
    <span>Continue reading...</span>
  </article>
</section>
