<section class="l-contact">
  <div class="l-contact--header">
    <h1>TELL US ABOUT YOUR REQUIREMENT</h1>
  </div>
  <div class="l-contact--form">
    <div class="l-contact--form-header">
      <h2>CONTACT US</h2>
    </div>
    <form action="" class="l-contact--form-form">
      <input type="text" class="form-name" placeholder="Name">
      <input type="email" class="form-email" placeholder="Your Email Address">
      <input type="text" class="form-message" placeholder="Your Message">
      <input type="submit" class="form-submit" value="Submit">
    </form>
  </div>
  <div class="l-contact--data">
    <h2>ADDRESS</h2>
    <p>ARKENEA LCC 47 S 2ND ST #152<br>
      SAN JOSE, CA 95113, USA.
    </p>

    <h2>PHONE</h2>
    <p>(428) 350-1761
    </p>

    <h2>EMAIL</h2>
    <p>CONTACT@ARKENEA.com</p>
  </div>
</section>
