<section class="l-slider">
  <img class="l-slider--image" src="../../content/content_2_bg.png" alt="">
  <div class="l-slider--textSlider">
    <p>“Arkenea thinks outside the box and offer solutions through the creative process of developing apps.
      They care about their customers.”<br>

      Hypnotherapist and Best Selling Author<br>
      - Glenn Harrold</p>
  </div>
  <div class="l-slider--dots">
    <span id="one" class="active"></span>
    <span id="two"></span>
    <span id="three"></span>
  </div>
</section>
