<footer class="l-footer">
    <div class="l-footer--left">
        2015 ARKENEA. All rights reserved
    </div>
    <div class="l-footer--right">
        Designer - Prashant Dwivedi | MADE WITH ❤️ IN INDIA
    </div>
</footer>
