{% extends "base.twig" %}

{% block title %}
    {{ title }}ss
{% endblock %}

{% block nav %}
    {% include 'partials/layouts/navigation.twig' %}
{% endblock %}

{% block body %}
    {% include 'partials/layouts/section-main.twig' %}
    {% include 'partials/layouts/section-stories.twig' %}
    {% include 'partials/layouts/section-slider.twig' %}
    {% include 'partials/layouts/section-contact.twig' %}
    {% include 'partials/layouts/section-footer.twig' %}
{% endblock %}
