
/* Base
   ========================================================================== */
html {
    font-size: 62.5%; /* 10px */
}

body {
    min-width: 320px;

    font-family: $font_normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.4;

    color: $color_black;

    display: flex;
}

/* Global Typography
   ========================================================================== */

a {
    text-decoration: none;

    color: $color_black;

    transition: opacity $transition_speed ease-in-out, color $transition_speed ease-in-out;

    &:hover {
        text-decoration: none;

        @include media(">t") {
            color: $color_black;
        }
    }
}
