/* Colors
========================================================================== */
$color_white: #fff;
$color_black: #000000;
$color_gray: #272727;
$color_red: #dc4e58;

$scotch-colors: ('black': ($color_black),
  'white': ($color_white),
  'gray': ($color_gray));

/* Fonts
========================================================================== */
$font_raleway: 'Raleway';

$font_normal: $font_raleway,
Arial,
sans-serif;

/* Animations
========================================================================== */
$transition_speed: 200ms;

/* Sizes
========================================================================== */
$gutter: 20px;

$size_inner: 1260px+($gutter * 2);

/* Breakpoints
========================================================================== */
$breakpoint_laptop: 1620px;
$breakpoint_laptop_small: 1280px;
$breakpoint_tablet: 1200px;
$breakpoint_tablet_middle: 980px;
$breakpoint_mobile: 670px;
$breakpoint_mobile_small: 480px;
$breakpoint_mobile_thin: 370px;
$max-breakpoint: 1920;

$breakpoints: (l: $breakpoint_laptop,
  l-s: $breakpoint_laptop_small,
  t: $breakpoint_tablet,
  t-m: $breakpoint_tablet_middle,
  m: $breakpoint_mobile,
  m-s: $breakpoint_mobile_small,
  m-t: $breakpoint_mobile_thin);

/* body {
    @include media("<=t") {
        background: blue;
    }
} */

//

$padding-left: 10vw;
$page-width: 100vw;
$page-height: 100vh;
$font-size:25px;
