body {
  font-family: $font_normal;
}

/* Inner
   ========================================================================== */
.l-inner {
  position: relative;
  width: 100%;
  max-width: $size_inner;

  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter;
  padding-right: $gutter;
}

/* Page
   ========================================================================== */
.l-page {
  overflow: hidden;
  font-size: $font-size;
  // margin: 0;
  // padding: 0;
}
