.l-contact {
  min-height: $page-height / 1.5;
  height: auto;
  padding: 5vh $padding-left;
  display: flex;
  flex-wrap: wrap;
  font-size: $font-size / 1.2;
  color: darken(gray, 20%);

  .l-contact--header {
    width: 100%;
    height: 10vh;
    text-align: center;
  }

  .l-contact--form {
    width: 50%;
    align-items: left;
    display: flex;
    flex-wrap: wrap;

    .l-contact--form-header {
      width: 100%;
      height: 15%;
    }

    .l-contact--form-form {
      width: 80%;
      height: 80%;
      display: flex;
      flex-wrap: wrap;

      .form-name {
        width: 45%;
        height: 20%;
      }

      .form-email {
        width: 45%;
        height: 20%;
        margin-left: 10%;
      }

      .form-message {
        width: 100%;
        height: 40%;
      }

      .form-submit {
        width: 45%;

      }
    }
  }

  .l-contact--data {
    width: 50%;
    text-align: right;

    p {
      color: gray
    }
  }
}

@media only screen and (max-width: $breakpoint_tablet_middle) {
  .l-contact {
    min-height: $page-height / 1.5;
    height: auto;
    padding: 2vh 3vw;

    .l-contact--header {
      width: 100%;
      height: 10vh;
      text-align: center;
    }

    .l-contact--form {
      padding-top: 18vh;
      width: 100%;
      height: 400px;
      align-items: center;
      justify-content: space-around;

      .l-contact--form-header {
        display: none;
      }

      .l-contact--form-form {
        width: 80%;
        height: 80%;
        display: flex;
        flex-wrap: wrap;
        font-size: 12px;

        .form-name {
          width: 45%;
          height: 20%;
        }

        .form-email {
          width: 45%;
          height: 20%;
          margin-left: 10%;
        }

        .form-message {
          width: 100%;
          height: 40%;
        }

        .form-submit {
          width: 45%;
          font-size: 20px;

        }
      }
    }

    .l-contact--data {
      width: 100%;
      text-align: center;

      p {
        color: gray
      }
    }
  }
}
