.l-footer {
  width: $page-width;
  height: auto;
  line-height: 5vh;
  background-color: gray;
  padding: 0 $padding-left;
  display: flex;
  color: white;
  font-size: $font-size / 1.5;

  .l-footer--left {
    width: 50%;
  }

  .l-footer--right {
    width: 50%;
    text-align: right;
  }
}

@media only screen and (max-width: $breakpoint_tablet_middle) {
  .l-footer {
    padding: 0 1vw;
    font-size: $font-size / 1.3;

    .l-footer--left {
      width: 50%;
      text-align: left;
    }

    .l-footer--right {
      width: 50%;
      text-align: right;
    }
  }
}
