/* 1st section
   ========================================================================== */

.l-page--main {
  background-image: url("../../../content/hero_Image.png");
  width: $page-width;
  min-height: $page-height;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.l-page--main--box {
  padding-top: 8vw;
  width: 40vw;
  position: relative;
  left: $padding-left;
  color: white;

  input.form-email {
    display: inline-block;
    width: 40%;
    height: 60px;
    background-color: white;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
  }

  input[type="submit"] {
    display: inline-block;
    width: 30%;
    height: 60px;
    margin-left: 3vw;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
  }
}

@media only screen and (max-width: $breakpoint_tablet_middle) {
  .l-page--main--box {
    padding-top: 10vw;
    width: 90vw;
    left: 5vw;
    font-size: 20px;
    text-align: center;

    input.form-email {
      display: block;
      width: 90%;
      height: 30px;
      margin: 0 auto;
    }

    input[type="submit"] {
      display: block;
      width: 90%;
      margin: 0 auto;
      margin-top: 10px;
      height: 30px;
    }
  }
}
