/* Navigation
   ========================================================================== */

.l-nav {
  position: absolute;
  // background-color: white;
  width: $page-width;
  height: 5vh;
  display: flex;
  margin-top: 5vw;
  padding: 0 $padding-left;
  transition: all 1s ease-in-out;

  a {
    color: white;
    font-size: 1.7vw;

    &:hover {
      border-bottom: 2px solid white;
    }
  }

  &.active {
    position: fixed;
    margin-top: 0;
    background-color: white;
    z-index: 6;
    height: 6vh;
    line-height: 6vh;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);

    a {
      color: black;

      &:hover {
        border-bottom: 2px solid black;
      }
    }
  }
}

.l-nav--select_mobile--menu {
  display: none;
}

.l-nav--logo {
  width: 10vw;
}

.l-nav--select {
  display: flex;
  width: 90vw;
  justify-content: flex-end;


  a {
    padding: 0 0.5vw;
  }
}

@media only screen and (max-height: 700px) {
  .l-nav {
    margin-top: 1vw;
  }
}

@media only screen and (max-width: $breakpoint_tablet_middle) {
  .l-nav {
    a {
      font-size: 7vw;
    }

    &.active {
      display: none;
    }
  }

  .l-nav--logo {
    width: 50vw;
  }

  .l-nav--select {
    display: none;
  }

  .l-nav--select_mobile--menu {
    display: block;
    position: absolute;
    z-index: 6;
    top: 0;
    right: 2vw;
    text-align: right;
    color: white;
    transform: translateY(-20%);

    h1 {
      display: block;
    }
  }

  .menu--active {
    display: block;
    position: absolute;
    z-index: 4;
    width: $page-width;
    margin: 0;
    background-color: black;
    padding: 1vh 2vw;
    border-radius: 10px;

    a {
      color: white;
    }
  }
}
