.l-slider {
  min-height: $page-height / 2.5;
  height: 300px;
  position: relative;
  overflow: hidden;

  .l-slider--image {
    width: 100%;
    position: relative;

  }

  .l-slider--textSlider {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
    text-align: center;
    color: rgb(214, 214, 214);
    font-size: $font-size;
  }


  .l-slider--dots {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);

    span {

      display: inline-block;
      background-color: gray;
      margin: 0 10px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      // box-shadow: 0 0 0 5px white;
      cursor: pointer;

      &.active {
        box-shadow: 0 0 3px 3px rgb(90, 90, 90);
      }
    }
  }



}


@media only screen and (max-width: $breakpoint_tablet_middle) {
  .l-slider {
    height: 500px;
    position: relative;
    overflow: auto;


    .l-slider--image {
      display: block;
      width: 1000%;
      height: 500px;
      object-fit: cover;
    }

    .l-slider--textSlider {
      width: 98%;
      padding-left: 1%;
    }


    .l-slider--dots {
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);

      span {

        display: inline-block;
        background-color: gray;
        margin: 0 10px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        // box-shadow: 0 0 0 5px white;
        cursor: pointer;

        &.active {
          box-shadow: 0 0 3px 3px rgb(90, 90, 90);
        }
      }
    }



  }

}
