/* 2st section
   ========================================================================== */
.l-stories {
  width: $page-width;
  min-height: $page-height;
  height: auto;
  padding: 5vh $padding-left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.l-stories--header {
  width: 100%;

  h1 {
    font-size: 35px;
  }

  hr {
    margin: 0;
    max-width: 10%;
  }
}

.l-stories--article {
  width: 30%;
  height: 70%;

  img {
    width: 100%;
    object-fit: cover;
  }

  p {
    color: grey;
    font-size: $font-size - 5px;
  }

  span {
    font-size: $font-size - 7px;
  }
}

@media only screen and (max-width: $breakpoint_mobile) {
  .l-stories {
    width: $page-width;
    min-height: $page-height;
    height: auto;
    padding: 5vh $padding-left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .l-stories--header {
    width: 100%;
    text-align: center;

    h1 {
      font-size: 35px;
    }

    hr {
      display: none;
    }
  }

  .l-stories--article {
    width: 100%;
    height: 70%;
    padding-bottom: 10px;

    img {
      width: 100%;
      object-fit: cover;
    }

    p {
      color: grey;
      font-size: $font-size - 5px;
    }

    span {
      font-size: $font-size - 7px;
    }
  }
}
